.header__lang-item:not(:last-child) {
	margin-right: 18px;
}

@media screen and (min-width: 541px) {
	.header__lang-item:first-child {
		margin-right: 70px;
	}
}

@media screen and (max-width: 480px) {
	.header__lang-item:not(:last-child) {
		margin: 0 0 5px;
	}
}