.popup__container {
	box-sizing: border-box;
	width: 86%;
	max-width: 1100px;
	min-width: 300px;
	margin-top: 200px;
	background-color: #fff;
	border-radius: 15px;
	padding: 8.828% 23.984% 8.281% 7.968%;
	position: relative;
}

@media screen and (min-width: 1280px) {
	.popup__container {
		padding: 113px 307px 106px 102px;
	}
}

@media screen and (max-width: 768px) {
	.popup__container {
		padding-right: 50px;
	}
}

@media screen and (max-width: 540px) {
	.popup__container {
		padding-right: 35px;
	}
}