.popup__link {
	display: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 162%;
	color: #000;
	text-decoration-line: none;
	border-bottom: 1px solid #000;
	transition: opacity .3s ease 0s;
	position: relative;
}

.popup__link:hover {
	opacity: .7;
	border-bottom-color: rgba(0, 0, 0, .7);
}