.content__photo-grid {
	margin-top: 101px;
}

@media screen and (max-width: 1024px) {
	.content__photo-grid {
		margin-top: 92px;
	}
}

@media screen and (max-width: 768px) {
	.content__photo-grid {
		margin-top: 88px;
	}
}

@media screen and (max-width: 425px) {
	.content__photo-grid {
		margin-top: 64px;
	}
}