.header__button-line {
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: #fff;
}

.header__button-menu.header__button-menu_opened .header__button-line {
	height: 0;
}