.header__lang-block {
	align-self: flex-end;
	margin: 0 0 6px;
}

@media screen and (max-width: 480px) {
	.header__lang-block {
		opacity: 0;
		background-color: #2a2c2f;
		margin-bottom: 0;
		position: absolute;
		width: 100vw;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		transition: all .3s ease 0s;
		z-index: -1;
	}
}

@media screen and (max-width: 320px) {
	.header__lang-block {
		max-width: 288px;
		min-width: 288px;
	}
}
